@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.top-bar {
    background-color: #FF6A28;
    padding: 15px;
    text-align: center;
}

#header {
    background-image: url(images/hero_bolo.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
}

.content {
    margin: auto;
    max-width: 990px;
    padding: 0 40px;
    margin-top: 100px;
}

h1, h2, h3, h4, h5, h6 {
    color: #FF6B28;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 28px;
    margin-bottom: 40px;
}

.card {
    padding: 70px 100px;
    margin-top: 50px;
    border-radius: 20px;
}

.card:hover {
    box-shadow: 8px 8px 15px 12px rgba(205, 205, 205, 0.322);
}

.ingredient {
    cursor: url(images/cursor_ingredientes.png), default;
}

.preparation {
    cursor: url(images/cursor_preparo.png), default;
}

.instructions {
    cursor: url(images/cursor_intrucoes.png);
}

a {
    text-decoration: none;
}

.button {
    background-color: #FF6A28;
    padding: 16px;
    border-radius: 20px;
    color: white;
}

li {
    margin-bottom: 14px;
}

.ingredient-list { 
    margin-bottom: 50px;
}

p, li {
    line-height: 28px;
}

.footer {
    background-color: #FF6A28;
    color: white;
    padding: 15px;
    text-align: center;
}

.footer-text {
    max-width: 500px;
    margin: auto;
    font-size: 16px;
    line-height: 24px;
}

.text-white {
    color: white;
}